# Базовый URL приложения под тест
BASE_URL=https://www.saucedemo.com/

# Валидный пользователь для позитивного флоу
STANDARD_USER_USERNAME=standard_user
STANDARD_USER_PASSWORD=secret_sauce

# Заблокированный пользователь для негативного сценария логина
LOCKED_OUT_USER_USERNAME=locked_out_user
